<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    <div agent = "center" name = "login">
    <h1>用户登陆</h1>
    {% if message %} {{ message }}{% endif %}
    <form method="post">
        用户名: <input type = "text" name ="username" placeholder = "username" /> {% if username %}{{ username}} {% endif %}  </br>
        密码: <input type = "password" name ="password"  placeholder = "password" /> {% if password %} {{ password }} {% endif %} </br>
        <input type = "reset" value="重置"/>
        <input type = "submit" value="登陆"/>
    </form>
    </div>
</body>
</html>